<div class="auth">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#login">Login</a></li>
        <li class="tab col s6"><a href="#register">Register</a></li>
      </ul>
    </div>
    <div id="login" class="col s6 offset-s3">


      <h3>Login</h3>
      <form action="/auth/login" method="post">

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <div class="input-field">
          <input type="email" name="email" class="validate" id="email" required>
          <label for="email">Email</label>
          {{#if loginEmailError}}
            <span class="helper-text alert">{{loginEmailError}}</span>
          {{/if}}
          <span class="helper-text" data-error="Enter the email"></span>
        </div>

        <div class="input-field">
          <input type="password" name="password" class="validate" id="password" required>
          <label for="password">Password</label>
          {{#if loginPasswordError}}
            <span class="helper-text alert">{{loginPasswordError}}</span>
          {{/if}}
          <span class="helper-text" data-error="Enter the password"></span>
        </div>


        <button
            class="btn btn-primary"
            type="submit"
        >
          Login
        </button>

      </form>

    </div>
    <div id="register" class="col s6 offset-s3">

      {{#if registerError}}
        <span class="helper-text alert">{{registerError}}</span>
      {{/if}}

      <h3>Register</h3>
      <form action="/auth/register" method="post">

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <div class="input-field">
          <input type="text" name="name" class="validate" id="name" required>
          <label for="name">Your name</label>
          <span class="helper-text" data-error="Enter the Name"></span>
        </div>

        <div class="input-field">
          <input type="email" name="email" class="validate" id="re_email" required>
          <label for="re_email">Email</label>
          <span class="helper-text" data-error="Enter the email"></span>
        </div>

        <div class="input-field">
          <input type="password" name="password" class="validate" id="re_password" required>
          <label for="re_password">Password</label>
          <span class="helper-text" data-error="Enter the password"></span>
        </div>

        <div class="input-field">
          <input type="password" name="confirmPassword" class="validate" id="re_password_confirm" required>
          <label for="re_password_confirm">Confirm password</label>
          <span class="helper-text" data-error="Confirm the password"></span>
        </div>

        <button
            class="btn btn-primary"
            type="submit"
        >
          Register
        </button>

      </form>

    </div>
  </div>
</div>